
{
  email admin@asterism.xyz
}

https://mstdn.asterism.xyz {
  @local {
    file
  }
  @local_media {
    path_regexp /system/(.*)
  }
  @streaming {
    path /api/v1/streaming/*
  }
  @cache_control {
    path_regexp ^/(emoji|packs|/system/accounts/avatars|/system/media_attachments/files)
  }

  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000"
  }
  header /sw.js Cache-Control "public, max-age=0"
  header @cache_control Cache-Control "public, max-age=31536000, immutable"

  reverse_proxy @streaming {
    to http://streaming:4000

    transport http {
      keepalive 5s
      keepalive_idle_conns 10
    }
  }

  reverse_proxy  {
    to http://web:3000

    header_up X-Forwarded-Port 443
    header_up X-Forwarded-Proto https

    transport http {
      keepalive 5s
      keepalive_idle_conns 10
    }
  }
  log {
    output stdout
    format console
  }
}
